  /* html{ */
        /* font-size: 62.5%; */
      /* }  */
      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body{  
           font-family: 'Franklin Gothic Medium', 
            'Arial Narrow', Arial, sans-serif;
            font-size: 14px;
            /* background: #f2f2f2; */
             background-image: url("Tyres-2.jpg");
             background-repeat: no-repeat;
             background-size: cover;
             
      }
      
      .container{
        /* display:flex;
        justify-content:center; */
        align-items: center;
        background-color: white;
        width: 500px;
        padding: 25px;
        margin: 50px auto 0;
        border-top: 10px solid purple;
         box-shadow:  0 0 5px rgba(0, 0, 0, 0.5);
         height: 50%;
      }

      .container h2{
        font-size:24px ;
        line-height: 24px;
        padding: 30px;
        text-align: center;
      }
      .Role{
        display: flex;
        justify-content: center;
        width: 88%;
        height: 32%;
        align-items: center;
        margin: 3px;
        padding: 8px;
      }

      .name{
        width: 100%;
        /* margin: 12px; */
        padding: 10px;

      }

      .group{
        width: 100%;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
     align-items: center;
      }
     .group span{
      margin-left: 35px;
      }

      .email{
        width: 100%;
         padding: 10px;
      }
      div.btn{
        text-align: center;
        text-decoration: none;
        color: white;
        background-color: blue;
        color: white;
        height: 36px;
       width: 181px;
       display: flex;
       justify-content: center;
       align-items: center;
       position: relative;
       left: 133px;              
      }
     a.btn{
       text-decoration: none;
       color: azure;
        }

