{% extends 'main.html' %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>


<canvas id="myChart" style="width:100%;max-width:600px"></canvas>

<script>
  var xValues = ["Complete", "Paused", "Active", "Handoff", "Stopped"];
  var yValues = ["{{number_ideas.Complete}}", "{{number_ideas.Paused}}", "{{number_ideas.Active}}", "{{number_ideas.Handoff}}", "{{number_ideas.Stopped}}"];
  var barColors = [
    "#b91d47",
    "#00aba9",
    "#2b5797",
    "#e8c3b9",
    "#1e7145"
  ];

  new Chart("myChart", {
    type: "pie",
    data: {
      labels: xValues,
      datasets: [{
        backgroundColor: barColors,
        data: yValues
      }]
    },
    options: {
      title: {
        display: true,
        text: "Inovation per Status"
      }
    }
  });
</script>

<ul class="navitems textlight">
  <li class="navitem "></li>
    <a href="{% url 'program-create' %}" class="btn btnsec textred">Add Program</a></li>
  </li>
  <li class="navitem "></li>
    <a href="{% url 'business-unit-create' %}" class="btn btnsec textred">Add Business Unit</a></li>
  </li>
  <li class="navitem "></li>
    <a href="{% url 'invite' %}" class="btn btnsec textred">Send Invitation</a></li>
  </li>
</ul>

<br>
Invitations :
{% for invitation in invitations %}
<p>
  {{invitation}}
</p>
<p>  <a href="{% url 'invitation' invitation.id %}">View</a></p>
{% endfor %}
{% endblock content %}