{% extends 'main.html' %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<main class="chart">
    <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
</main>
<br>
{{dates}}
<script>

    var xValues = ["02/01/2022", "02/02/2022", "02/03/2022", "02/04/2022", "02/05/2022", "02/06/2022", "02/07/2022", "02/08/2022", "02/09/2022", "02/10/2022", "02/11/2022"];
    var yValues = [70, 80, 50, 10, 90, 99, 110, 116, 140, 130, 75];
    let getXvals = async () => {
        let response = await fetch('{{HOST_URL}}api/get-idea-activity/')
        let ideas = await response.json()
        xValues = ideas['dates']
        yValues = ideas['freq']
        new Chart("myChart", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [{
                label: "Participants",
                fill: false,
                lineTension: 0,
                backgroundColor: "rgba(0,0,255,1.0)",
                borderColor: "rgba(0,0,255,0.1)",
                data: yValues
            }]
        },

    })
    return ideas;
    }
    console.log(getXvals());
    
    // new Chart("myChart", {
    //     type: "line",
    //     data: {
    //         labels: xValues,
    //         datasets: [{
    //             label: "Participants",
    //             fill: false,
    //             lineTension: 0,
    //             backgroundColor: "rgba(0,0,255,1.0)",
    //             borderColor: "rgba(0,0,255,0.1)",
    //             data: yValues
    //         }]
    //     },

    // });
</script>
{% endblock content %}