{% extends 'main.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'styles/jury.css' %}">

     <section class="jury">
        <div class="container">
            <div class="formwrap">
                <div class="filter">
                    <div class="filterhead">
                        <i class="fa-solid fa-filter fa-4x textred"></i>
                        <h2 class="textgray mdheading">Filters</h2>
                    </div>
                    <label for="Visited">Visited</label>
                    <input type="radio" name="" id="Visited"><br>
                    <label for="Non-Visited">Non-Visited</label>
                    <input type="radio" name="" id="Non-Visited"><br>
                    <label for="Accepted">Accepted</label>
                    <input type="radio" name="" id="Accepted"><br>
                    <label for="Rejected">Rejected</label>
                    <input type="radio" name="" id="Rejected"><br>
                    <label for="Hold">Hold</label>
                    <input type="radio" name="" id="Hold"><br>
    
                    <button type="submit" class="btn btnsign">Apply</button>
                </div>
                {% for idea in ideas %}
                <form class="juryform"> 
                    <div class="formgroup">
                        <label for="name">Name of Ideater</label>
                        <input type="text" name="" value="{{idea}}" id="name">
                    </div>
                    <div class="formgroup">
                        <label for="department">Name of Department</label>
                        <input type="text" name="" id="department">
                    </div>
                    <div class="formgroup">
                        <label for="Title_idea">Title of Idea</label>
                        <input type="text" name="Title_idea" id="Title_idea" >
                        <button type="submit" class="btn btnsign">Apply</button>
                    </div>

                </form>
                {% endfor %}
                <div class="clearfix"></div>
            </div>
        </div>

     </section>
 {% endblock content %}